---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: kubernetes-api
  namespace: default 
  labels:
    app: kubernetes
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "{{ cluster_issuer_name }}"
    nginx.ingress.kubernetes.io/backend-protocol:  "HTTPS"
spec:
  tls:
    - secretName: kubernetes-api-cert
      hosts:    
        - "api-kubernetes.{{ dns_name }}"
  rules:
  - host: "api-kubernetes.{{ dns_name }}"
    http:
      paths:
      - path: "/"
        pathType: Prefix
        backend:
          service:
            name: kubernetes
            port:
              number: 6443